services:
  postgres:
    image: 'postgres:16-alpine'
    environment:
      - 'POSTGRES_DB=jpa_problems'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=jpa_user'
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
